node_modules/
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
crash.log
crash.*.log
*.tfplan
.env
.env.*
.aws/
.kube/
*.pem
*.key
dist/
.DS_Store
